# shellcheck disable=SC2148
source_env_if_exists ".envrc.user"

export FLAKE_SHELL=${FLAKE_SHELL:-".#default"}
export USE_FLAKES=${USE_FLAKES:-"false"}

if has nix; then
  # Are flakes supported and enabled?
  if nix show-config | grep experimental-features | grep -q flakes && [ "${USE_FLAKES}" == "true" ]; then
    # Do we have nix-direnv
    if ! has nix_direnv_version || ! nix_direnv_version 3.0.6; then
      source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.0.6/direnvrc" "sha256-RYcUJaRMf8oF5LznDrlCXbkOQrywm0HDv1VjYGaJGdM="
    fi

    use flake "${FLAKE_SHELL}"
  else
    use nix --argstr shellName "${FLAKE_SHELL##.#}"
  fi
fi
